### Remember to validate new environment variables in env.ts

# Vercel postgres
DATABASE_URL=""

# Auth
AUTH_SECRET=""

## Providers like Resend require a verified domain, so I used Nodemailer with Brevo here for free testing
EMAIL_SERVER=smtp://username:password@smtp.example.com:587
EMAIL_FROM=noreply@example.com

AUTH_GOOGLE_ID=""
AUTH_GOOGLE_SECRET=""

AUTH_TRUST_HOST=http://localhost:3000
