.tiptap {
  word-break: break-word;
  overflow-wrap: break-word;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #757575;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.tiptap.ProseMirror {
  outline: none;
}
